torch>=1.12.0+rocm5.7 -f https://download.pytorch.org/whl/rocm5.7/torch_stable.html
torchvision>=0.13.0+rocm5.7 -f https://download.pytorch.org/whl/rocm5.7/torch_stable.html
torchaudio>=0.12.0+rocm5.7 -f https://download.pytorch.org/whl/rocm5.7/torch_stable.html
transformers
pandas
numpy
autoawq
#autoawq-kernels==0.0.6+rocm561 -f https://github.com/casper-hansen/AutoAWQ_kernels/releases/download/v0.0.6/
# pip install https://github.com/casper-hansen/AutoAWQ_kernels/releases/download/v0.0.6/autoawq_kernels-0.0.6+rocm561-cp310-cp310-linux_x86_64.whl
# pip install https://github.com/casper-hansen/AutoAWQ_kernels/releases/download/v0.0.6/autoawq_kernels-0.0.6+rocm561-cp311-cp311-linux_x86_64.whl
