# Include templates
!templates/
!templates/*

# Ignore cache directories
__pycache__/

# Ignore data directory
data/
logs/
repos/
.env

# ignore coverage files
.tox/
.nox/
.coverage
.coverage.*
.cache
